kubernetes/apps/selfhosted/openclaw/app/workflows/mcp-wekan.json
{
  "id": "openclaw-mcp-wekan",
  "name": "🗂️ MCP: Wekan",
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Normalize Wekan Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Wekan Request": {
      "main": [
        [
          {
            "node": "Confirmation Required?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmation Required?": {
      "main": [
        [
          {
            "node": "Preview Wekan Action",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Login to Wekan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login to Wekan": {
      "main": [
        [
          {
            "node": "Get Current User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current User": {
      "main": [
        [
          {
            "node": "Get User Boards",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Boards": {
      "main": [
        [
          {
            "node": "Resolve Board",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Board": {
      "main": [
        [
          {
            "node": "Board Ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Board Ready?": {
      "main": [
        [
          {
            "node": "Get Board Lists",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Board Missing Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Board Lists": {
      "main": [
        [
          {
            "node": "Get Swimlanes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Swimlanes": {
      "main": [
        [
          {
            "node": "Resolve List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve List": {
      "main": [
        [
          {
            "node": "Get List Cards",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get List Cards": {
      "main": [
        [
          {
            "node": "Resolve Card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Card": {
      "main": [
        [
          {
            "node": "Get Card Checklists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Card Checklists": {
      "main": [
        [
          {
            "node": "Resolve Checklist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Checklist": {
      "main": [
        [
          {
            "node": "Get Checklist Detail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Checklist Detail": {
      "main": [
        [
          {
            "node": "Resolve Wekan Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Wekan Context": {
      "main": [
        [
          {
            "node": "Ready To Execute?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ready To Execute?": {
      "main": [
        [
          {
            "node": "Create Board?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validation Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Board?": {
      "main": [
        [
          {
            "node": "Create Board",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read Overview?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Overview?": {
      "main": [
        [
          {
            "node": "Build Read Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create List?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create List?": {
      "main": [
        [
          {
            "node": "Create List",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Card?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Card?": {
      "main": [
        [
          {
            "node": "Create Card",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Card?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Card?": {
      "main": [
        [
          {
            "node": "Update Card",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Comment?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Comment?": {
      "main": [
        [
          {
            "node": "Add Comment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Checklist?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Checklist?": {
      "main": [
        [
          {
            "node": "Create Checklist",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Checklist Item?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Checklist Item?": {
      "main": [
        [
          {
            "node": "Update Checklist Item",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unsupported Action Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Board": {
      "main": [
        [
          {
            "node": "Format Mutation Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create List": {
      "main": [
        [
          {
            "node": "Format Mutation Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Card": {
      "main": [
        [
          {
            "node": "Format Mutation Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Card": {
      "main": [
        [
          {
            "node": "Format Mutation Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Comment": {
      "main": [
        [
          {
            "node": "Format Mutation Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Checklist": {
      "main": [
        [
          {
            "node": "Format Mutation Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Checklist Item": {
      "main": [
        [
          {
            "node": "Format Mutation Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "wekan-start",
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json || {};\nlet input = raw;\nif (typeof raw.query === 'string') {\n  try {\n    input = JSON.parse(raw.query);\n  } catch (error) {\n    input = { summary: raw.query };\n  }\n}\nconst asString = (value) => (value === undefined || value === null ? '' : String(value).trim());\nconst pick = (...keys) => {\n  for (const key of keys) {\n    if (input[key] !== undefined && input[key] !== null && String(input[key]).trim() !== '') {\n      return input[key];\n    }\n    if (raw[key] !== undefined && raw[key] !== null && String(raw[key]).trim() !== '') {\n      return raw[key];\n    }\n  }\n  return undefined;\n};\nconst actionRaw = asString(pick('action', 'intent', 'operation')).toLowerCase();\nconst entityRaw = asString(pick('entity', 'type', 'resource')).toLowerCase();\nconst canonicalEntity = entityRaw.replace(/[^a-z]/g, '');\nlet actionKey = 'read_overview';\nif (actionRaw === 'create' && canonicalEntity === 'board') actionKey = 'create_board';\nelse if (actionRaw === 'create' && canonicalEntity === 'list') actionKey = 'create_list';\nelse if (actionRaw === 'create' && canonicalEntity === 'card') actionKey = 'create_card';\nelse if ((actionRaw === 'update' || actionRaw === 'move') && canonicalEntity === 'card') actionKey = 'update_card';\nelse if (actionRaw === 'create' && (canonicalEntity === 'comment' || canonicalEntity === 'cardcomment')) actionKey = 'add_comment';\nelse if (['comment', 'addcomment', 'add_comment'].includes(actionRaw)) actionKey = 'add_comment';\nelse if (actionRaw === 'create' && canonicalEntity === 'checklist') actionKey = 'create_checklist';\nelse if ((actionRaw === 'update' && canonicalEntity === 'checklistitem') || ['check', 'complete', 'done'].includes(actionRaw)) actionKey = 'update_checklist_item';\nelse if (['read', 'review', 'status', 'get', 'list', 'lookup', 'show', 'search'].includes(actionRaw)) actionKey = 'read_overview';\nconst mutating = actionKey !== 'read_overview';\nconst confirmed = input.confirmed === true || String(input.confirmed).toLowerCase() === 'true';\nconst rawItems = pick('items', 'checklistItems');\nlet items = [];\nif (Array.isArray(rawItems)) items = rawItems.map((item) => asString(item)).filter(Boolean);\nelse if (typeof rawItems === 'string') items = rawItems.split(/\\n|,/).map((item) => item.trim()).filter(Boolean);\nconst title = asString(pick('title', 'newTitle', 'name'));\nconst cardTitle = asString(pick('cardTitle', 'cardName', 'card', 'existingTitle'));\nconst summary = asString(pick('summary', 'request', 'message')) || title || cardTitle || 'No action summary provided.';\nconst normalized = {\n  actionKey,\n  mutating,\n  confirmed,\n  summary,\n  boardName: asString(pick('boardName', 'board')) || (process.env.WEDDING_BOARD_NAME || 'Wedding Planning'),\n  boardId: asString(pick('boardId')),\n  listName: asString(pick('listName', 'list', 'listTitle')),\n  listId: asString(pick('listId')),\n  moveToListName: asString(pick('moveToListName', 'targetListName', 'destinationListName', 'moveToList')),\n  moveToListId: asString(pick('moveToListId', 'targetListId', 'destinationListId')),\n  cardTitle,\n  cardId: asString(pick('cardId')),\n  title: title || (actionKey === 'create_card' ? cardTitle : ''),\n  description: asString(pick('description')),\n  comment: asString(pick('comment', 'note')),\n  dueAt: asString(pick('dueAt', 'due', 'dueDate')),\n  startAt: asString(pick('startAt', 'startDate')),\n  endAt: asString(pick('endAt', 'endDate')),\n  checklistTitle: asString(pick('checklistTitle', 'checklist', 'checklistName')),\n  checklistId: asString(pick('checklistId')),\n  checklistItemTitle: asString(pick('checklistItemTitle', 'checklistItem', 'item', 'itemTitle')),\n  checklistItemId: asString(pick('checklistItemId', 'itemId')),\n  swimlaneName: asString(pick('swimlaneName', 'swimlane')),\n  swimlaneId: asString(pick('swimlaneId')),\n  isFinished: input.isFinished === true || ['check', 'complete', 'done'].includes(actionRaw),\n  items,\n};\nreturn [{ json: normalized }];"
      },
      "id": "wekan-normalize",
      "name": "Normalize Wekan Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "wekan-confirmation-required-condition",
              "leftValue": "={{ $json.mutating && !$json.confirmed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wekan-confirmation-required",
      "name": "Confirmation Required?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        460,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const request = $('Normalize Wekan Request').first().json;\nconst labels = {\n  create_board: 'create the wedding board',\n  create_list: 'create a list',\n  create_card: 'create a card',\n  update_card: 'update or move a card',\n  add_comment: 'add a card comment',\n  create_checklist: 'create a checklist',\n  update_checklist_item: 'update a checklist item',\n};\nconst payload = JSON.stringify({ ...request, confirmed: true });\nconst result =   'Confirmation required before changing Wekan. Planned action: ' + (labels[request.actionKey] || request.actionKey) +   ' on board \"' + request.boardName + '\". Summary: ' + request.summary +   '. After the user approves, call Wekan MCP again with the same payload and confirmed=true.';\nreturn [{ json: { result, confirmationRequired: true, nextPayload: payload } }];"
      },
      "id": "wekan-preview",
      "name": "Preview Wekan Action",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        -120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.WEKAN_URL || '').replace(/\\/$/, '') + '/users/login' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { username: $env.WEKAN_USERNAME, password: $env.WEKAN_PASSWORD } }}",
        "options": {}
      },
      "id": "wekan-login",
      "name": "Login to Wekan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        120
      ]
    },
    {
      "parameters": {
        "url": "={{ ($env.WEKAN_URL || '').replace(/\\/$/, '') + '/api/user' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Login to Wekan').first().json.token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "wekan-user",
      "name": "Get Current User",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        940,
        120
      ]
    },
    {
      "parameters": {
        "url": "={{ ($env.WEKAN_URL || '').replace(/\\/$/, '') + '/api/users/' + ($json._id || $('Login to Wekan').first().json.id || 'missing-user') + '/boards' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Login to Wekan').first().json.token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "wekan-boards",
      "name": "Get User Boards",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1180,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "const request = $('Normalize Wekan Request').first().json;\nconst login = $('Login to Wekan').first().json || {};\nconst user = $('Get Current User').first().json || {};\nconst items = $('Get User Boards').all().map((item) => item.json);\nconst boards = (items.length === 1 && Array.isArray(items[0]) ? items[0] : items)\n  .filter((entry) => entry && typeof entry === 'object' && entry._id);\nconst normalized = (value) => String(value || '').trim().toLowerCase();\nlet board = null;\nif (request.boardId) board = boards.find((entry) => entry._id === request.boardId) || null;\nif (!board && request.boardName) board = boards.find((entry) => normalized(entry.title) === normalized(request.boardName)) || null;\nconst boardId = board?._id || request.boardId || null;\nreturn [{\n  json: {\n    ...request,\n    token: login.token || null,\n    userId: user._id || login.id || null,\n    boards,\n    boardId,\n    boardTitle: board?.title || request.boardName,\n    boardExists: Boolean(boardId),\n    boardAccessible: Boolean(boardId) || request.actionKey === 'create_board',\n  },\n}];"
      },
      "id": "wekan-resolve-board",
      "name": "Resolve Board",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1420,
        120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "wekan-board-ready-condition",
              "leftValue": "={{ $json.boardAccessible }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wekan-board-ready",
      "name": "Board Ready?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1660,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "const state = $('Resolve Board').first().json;\nconst available = (state.boards || []).map((board) => board.title).filter(Boolean);\nconst suffix = available.length ? ' Available boards: ' + available.join(', ') + '.' : ' No boards are currently available.';\nreturn [{ json: { result: 'The board \"' + state.boardName + '\" was not found.' + suffix + ' Create it first or update WEDDING_BOARD_NAME.', confirmationRequired: false } }];"
      },
      "id": "wekan-board-missing",
      "name": "Board Missing Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1900,
        260
      ]
    },
    {
      "parameters": {
        "url": "={{ ($env.WEKAN_URL || '').replace(/\\/$/, '') + '/api/boards/' + ($json.boardId || 'missing-board') + '/lists' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Login to Wekan').first().json.token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "wekan-lists",
      "name": "Get Board Lists",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1900,
        40
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "={{ ($env.WEKAN_URL || '').replace(/\\/$/, '') + '/api/boards/' + ($('Resolve Board').first().json.boardId || 'missing-board') + '/swimlanes' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Login to Wekan').first().json.token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "wekan-swimlanes",
      "name": "Get Swimlanes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2140,
        40
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const state = $('Resolve Board').first().json;\nconst listItems = $('Get Board Lists').all().map((item) => item.json);\nconst swimlaneItems = $('Get Swimlanes').all().map((item) => item.json);\nconst lists = (listItems.length === 1 && Array.isArray(listItems[0]) ? listItems[0] : listItems)\n  .filter((entry) => entry && typeof entry === 'object' && entry._id);\nconst swimlanes = (swimlaneItems.length === 1 && Array.isArray(swimlaneItems[0]) ? swimlaneItems[0] : swimlaneItems)\n  .filter((entry) => entry && typeof entry === 'object' && entry._id);\nconst normalized = (value) => String(value || '').trim().toLowerCase();\nlet list = null;\nif (state.listId) list = lists.find((entry) => entry._id === state.listId) || null;\nif (!list && state.listName) list = lists.find((entry) => normalized(entry.title) === normalized(state.listName)) || null;\nlet targetList = null;\nif (state.moveToListId) targetList = lists.find((entry) => entry._id === state.moveToListId) || null;\nif (!targetList && state.moveToListName) targetList = lists.find((entry) => normalized(entry.title) === normalized(state.moveToListName)) || null;\nlet swimlane = null;\nif (state.swimlaneId) swimlane = swimlanes.find((entry) => entry._id === state.swimlaneId) || null;\nif (!swimlane && state.swimlaneName) swimlane = swimlanes.find((entry) => normalized(entry.title) === normalized(state.swimlaneName)) || null;\nif (!swimlane) swimlane = swimlanes[0] || null;\nreturn [{\n  json: {\n    ...state,\n    lists,\n    swimlanes,\n    listId: list?._id || state.listId || null,\n    listTitle: list?.title || state.listName || null,\n    targetListId: targetList?._id || state.moveToListId || null,\n    targetListTitle: targetList?.title || state.moveToListName || null,\n    swimlaneId: swimlane?._id || state.swimlaneId || null,\n    swimlaneTitle: swimlane?.title || state.swimlaneName || null,\n  },\n}];"
      },
      "id": "wekan-resolve-list",
      "name": "Resolve List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2380,
        40
      ]
    },
    {
      "parameters": {
        "url": "={{ ($env.WEKAN_URL || '').replace(/\\/$/, '') + '/api/boards/' + ($('Resolve List').first().json.boardId || 'missing-board') + '/lists/' + ($('Resolve List').first().json.listId || 'missing-list') + '/cards' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Login to Wekan').first().json.token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "wekan-cards",
      "name": "Get List Cards",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2620,
        40
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const state = $('Resolve List').first().json;\nconst items = $('Get List Cards').all().map((item) => item.json);\nconst cards = (items.length === 1 && Array.isArray(items[0]) ? items[0] : items)\n  .filter((entry) => entry && typeof entry === 'object' && entry._id);\nconst normalized = (value) => String(value || '').trim().toLowerCase();\nlet card = null;\nif (state.cardId) card = cards.find((entry) => entry._id === state.cardId) || null;\nif (!card && state.cardTitle) card = cards.find((entry) => normalized(entry.title) === normalized(state.cardTitle)) || null;\nreturn [{\n  json: {\n    ...state,\n    cards,\n    cardId: card?._id || state.cardId || null,\n    currentCardTitle: card?.title || state.cardTitle || null,\n  },\n}];"
      },
      "id": "wekan-resolve-card",
      "name": "Resolve Card",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2860,
        40
      ]
    },
    {
      "parameters": {
        "url": "={{ ($env.WEKAN_URL || '').replace(/\\/$/, '') + '/api/boards/' + ($('Resolve Card').first().json.boardId || 'missing-board') + '/cards/' + ($('Resolve Card').first().json.cardId || 'missing-card') + '/checklists' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Login to Wekan').first().json.token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "wekan-checklists",
      "name": "Get Card Checklists",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3100,
        40
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const state = $('Resolve Card').first().json;\nconst items = $('Get Card Checklists').all().map((item) => item.json);\nconst checklists = (items.length === 1 && Array.isArray(items[0]) ? items[0] : items)\n  .filter((entry) => entry && typeof entry === 'object' && entry._id);\nconst normalized = (value) => String(value || '').trim().toLowerCase();\nlet checklist = null;\nif (state.checklistId) checklist = checklists.find((entry) => entry._id === state.checklistId) || null;\nif (!checklist && state.checklistTitle) checklist = checklists.find((entry) => normalized(entry.title) === normalized(state.checklistTitle)) || null;\nreturn [{\n  json: {\n    ...state,\n    checklists,\n    checklistId: checklist?._id || state.checklistId || null,\n    currentChecklistTitle: checklist?.title || state.checklistTitle || null,\n  },\n}];"
      },
      "id": "wekan-resolve-checklist",
      "name": "Resolve Checklist",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3340,
        40
      ]
    },
    {
      "parameters": {
        "url": "={{ ($env.WEKAN_URL || '').replace(/\\/$/, '') + '/api/boards/' + ($('Resolve Checklist').first().json.boardId || 'missing-board') + '/cards/' + ($('Resolve Checklist').first().json.cardId || 'missing-card') + '/checklists/' + ($('Resolve Checklist').first().json.checklistId || 'missing-checklist') }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Login to Wekan').first().json.token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "wekan-checklist-detail",
      "name": "Get Checklist Detail",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3580,
        40
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const state = $('Resolve Checklist').first().json;\nconst detail = $('Get Checklist Detail').first()?.json || {};\nconst checklistItems = Array.isArray(detail.items) ? detail.items.filter((entry) => entry && typeof entry === 'object' && entry._id) : [];\nconst normalized = (value) => String(value || '').trim().toLowerCase();\nlet checklistItem = null;\nif (state.checklistItemId) checklistItem = checklistItems.find((entry) => entry._id === state.checklistItemId) || null;\nif (!checklistItem && state.checklistItemTitle) checklistItem = checklistItems.find((entry) => normalized(entry.title) === normalized(state.checklistItemTitle)) || null;\nconst cardUpdateFields = {};\nif (state.title) cardUpdateFields.title = state.title;\nif (state.description) cardUpdateFields.description = state.description;\nif (state.dueAt) cardUpdateFields.dueAt = state.dueAt;\nif (state.startAt) cardUpdateFields.startAt = state.startAt;\nif (state.endAt) cardUpdateFields.endAt = state.endAt;\nif (state.targetListId) cardUpdateFields.listId = state.targetListId;\nconst checklistItemUpdateFields = {};\nif (state.checklistItemTitle) checklistItemUpdateFields.title = state.checklistItemTitle;\nif (state.isFinished === true || state.isFinished === false) checklistItemUpdateFields.isFinished = state.isFinished;\nlet ready = true;\nlet validationMessage = '';\nif (state.actionKey === 'create_board') {\n  if (state.boardExists) {\n    ready = false;\n    validationMessage = 'The board already exists. Use the existing board instead of creating it again.';\n  } else if (!state.userId) {\n    ready = false;\n    validationMessage = 'The Wekan user could not be resolved, so the board cannot be created yet.';\n  }\n} else if (state.actionKey === 'read_overview') {\n  ready = Boolean(state.boardId);\n  if (!ready) validationMessage = 'The requested board was not found.';\n} else if (state.actionKey === 'create_list') {\n  ready = Boolean(state.boardId && state.title);\n  if (!ready) validationMessage = 'Creating a list needs a board and a list title.';\n} else if (state.actionKey === 'create_card') {\n  ready = Boolean(state.boardId && state.listId && state.swimlaneId && state.userId && state.title);\n  if (!ready) validationMessage = 'Creating a card needs a board, list, swimlane, author, and card title.';\n} else if (state.actionKey === 'update_card') {\n  ready = Boolean(state.boardId && state.listId && state.cardId && Object.keys(cardUpdateFields).length);\n  if (!ready) validationMessage = 'Updating a card needs the card plus at least one change (title, description, due date, or target list).';\n} else if (state.actionKey === 'add_comment') {\n  ready = Boolean(state.boardId && state.cardId && state.userId && state.comment);\n  if (!ready) validationMessage = 'Adding a comment needs the card and the comment text.';\n} else if (state.actionKey === 'create_checklist') {\n  ready = Boolean(state.boardId && state.cardId && state.checklistTitle);\n  if (!ready) validationMessage = 'Creating a checklist needs the target card and a checklist title.';\n} else if (state.actionKey === 'update_checklist_item') {\n  ready = Boolean(state.boardId && state.cardId && state.checklistId && (checklistItem?._id || state.checklistItemId) && Object.keys(checklistItemUpdateFields).length);\n  if (!ready) validationMessage = 'Updating a checklist item needs the checklist item and at least one change.';\n} else {\n  ready = false;\n  validationMessage = 'This Wekan action is not supported yet.';\n}\nreturn [{\n  json: {\n    ...state,\n    checklistItems,\n    checklistItemId: checklistItem?._id || state.checklistItemId || null,\n    currentChecklistItemTitle: checklistItem?.title || state.checklistItemTitle || null,\n    cardUpdateFields,\n    checklistItemUpdateFields,\n    ready,\n    validationMessage,\n    isCreateBoard: state.actionKey === 'create_board',\n    isReadOverview: state.actionKey === 'read_overview',\n    isCreateList: state.actionKey === 'create_list',\n    isCreateCard: state.actionKey === 'create_card',\n    isUpdateCard: state.actionKey === 'update_card',\n    isAddComment: state.actionKey === 'add_comment',\n    isCreateChecklist: state.actionKey === 'create_checklist',\n    isUpdateChecklistItem: state.actionKey === 'update_checklist_item',\n  },\n}];"
      },
      "id": "wekan-resolve-context",
      "name": "Resolve Wekan Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3820,
        40
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "wekan-ready-condition",
              "leftValue": "={{ $json.ready }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wekan-ready",
      "name": "Ready To Execute?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4060,
        40
      ]
    },
    {
      "parameters": {
        "jsCode": "const state = $('Resolve Wekan Context').first().json;\nreturn [{ json: { result: state.validationMessage || 'The Wekan request could not be executed.', confirmationRequired: false } }];"
      },
      "id": "wekan-validation",
      "name": "Validation Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4300,
        180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "wekan-create-board-if-condition",
              "leftValue": "={{ $json.isCreateBoard }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wekan-create-board-if",
      "name": "Create Board?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4300,
        -120
      ]
    },
    {
      "parameters": {
        "resource": "board",
        "operation": "create",
        "title": "={{ $json.boardName }}",
        "owner": "={{ $json.userId }}",
        "additionalFields": {
          "isActive": true,
          "permission": "private"
        }
      },
      "id": "wekan-create-board-node",
      "name": "Create Board",
      "type": "n8n-nodes-base.wekan",
      "typeVersion": 1,
      "position": [
        4540,
        -320
      ],
      "credentials": {
        "wekanApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Wekan"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "wekan-read-if-condition",
              "leftValue": "={{ $json.isReadOverview }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wekan-read-if",
      "name": "Read Overview?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4540,
        -120
      ]
    },
    {
      "parameters": {
        "jsCode": "const state = $('Resolve Wekan Context').first().json;\nconst lines = [];\nlines.push('Board: ' + (state.boardTitle || state.boardName) + ' (' + (state.boardId || 'unknown id') + ')');\nlines.push('Lists: ' + (state.lists || []).length + ', Cards in selected list: ' + (state.cards || []).length + ', Checklists on selected card: ' + (state.checklists || []).length + '.');\nif (state.listTitle) lines.push('Selected list: ' + state.listTitle + (state.listId ? ' (' + state.listId + ')' : ''));\nif (state.cards && state.cards.length) {\n  const previewCards = state.cards.slice(0, 8).map((card, index) => (index + 1) + '. ' + card.title);\n  lines.push('Cards\\n' + previewCards.join('\\n'));\n}\nif (state.checklists && state.checklists.length) {\n  const previewChecklists = state.checklists.slice(0, 5).map((checklist) => '- ' + checklist.title);\n  lines.push('Checklists\\n' + previewChecklists.join('\\n'));\n}\nreturn [{ json: { result: lines.join('\\n') } }];"
      },
      "id": "wekan-read-summary",
      "name": "Build Read Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4780,
        -240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "wekan-create-list-if-condition",
              "leftValue": "={{ $json.isCreateList }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wekan-create-list-if",
      "name": "Create List?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4780,
        -120
      ]
    },
    {
      "parameters": {
        "resource": "list",
        "operation": "create",
        "boardId": "={{ $json.boardId }}",
        "title": "={{ $json.title }}"
      },
      "id": "wekan-create-list-node",
      "name": "Create List",
      "type": "n8n-nodes-base.wekan",
      "typeVersion": 1,
      "position": [
        5020,
        -320
      ],
      "credentials": {
        "wekanApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Wekan"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "wekan-create-card-if-condition",
              "leftValue": "={{ $json.isCreateCard }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wekan-create-card-if",
      "name": "Create Card?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5020,
        -120
      ]
    },
    {
      "parameters": {
        "resource": "card",
        "operation": "create",
        "boardId": "={{ $json.boardId }}",
        "listId": "={{ $json.listId }}",
        "title": "={{ $json.title }}",
        "swimlaneId": "={{ $json.swimlaneId }}",
        "authorId": "={{ $json.userId }}",
        "additionalFields": "={{ $json.description ? { description: $json.description } : {} }}"
      },
      "id": "wekan-create-card-node",
      "name": "Create Card",
      "type": "n8n-nodes-base.wekan",
      "typeVersion": 1,
      "position": [
        5260,
        -320
      ],
      "credentials": {
        "wekanApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Wekan"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "wekan-update-card-if-condition",
              "leftValue": "={{ $json.isUpdateCard }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wekan-update-card-if",
      "name": "Update Card?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5260,
        -120
      ]
    },
    {
      "parameters": {
        "resource": "card",
        "operation": "update",
        "boardId": "={{ $json.boardId }}",
        "listId": "={{ $json.listId }}",
        "cardId": "={{ $json.cardId }}",
        "updateFields": "={{ $json.cardUpdateFields }}"
      },
      "id": "wekan-update-card-node",
      "name": "Update Card",
      "type": "n8n-nodes-base.wekan",
      "typeVersion": 1,
      "position": [
        5500,
        -320
      ],
      "credentials": {
        "wekanApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Wekan"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "wekan-add-comment-if-condition",
              "leftValue": "={{ $json.isAddComment }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wekan-add-comment-if",
      "name": "Add Comment?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5500,
        -120
      ]
    },
    {
      "parameters": {
        "resource": "cardComment",
        "operation": "create",
        "boardId": "={{ $json.boardId }}",
        "listId": "={{ $json.listId || \"comment-context\" }}",
        "cardId": "={{ $json.cardId }}",
        "authorId": "={{ $json.userId }}",
        "comment": "={{ $json.comment }}"
      },
      "id": "wekan-add-comment-node",
      "name": "Add Comment",
      "type": "n8n-nodes-base.wekan",
      "typeVersion": 1,
      "position": [
        5740,
        -320
      ],
      "credentials": {
        "wekanApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Wekan"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "wekan-create-checklist-if-condition",
              "leftValue": "={{ $json.isCreateChecklist }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wekan-create-checklist-if",
      "name": "Create Checklist?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5740,
        -120
      ]
    },
    {
      "parameters": {
        "resource": "checklist",
        "operation": "create",
        "boardId": "={{ $json.boardId }}",
        "listId": "={{ $json.listId || \"checklist-context\" }}",
        "cardId": "={{ $json.cardId }}",
        "title": "={{ $json.checklistTitle }}",
        "items": "={{ $json.items }}"
      },
      "id": "wekan-create-checklist-node",
      "name": "Create Checklist",
      "type": "n8n-nodes-base.wekan",
      "typeVersion": 1,
      "position": [
        5980,
        -320
      ],
      "credentials": {
        "wekanApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Wekan"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "wekan-update-check-item-if-condition",
              "leftValue": "={{ $json.isUpdateChecklistItem }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wekan-update-check-item-if",
      "name": "Update Checklist Item?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5980,
        -120
      ]
    },
    {
      "parameters": {
        "resource": "checklistItem",
        "operation": "update",
        "boardId": "={{ $json.boardId }}",
        "listId": "={{ $json.listId || \"checklist-item-context\" }}",
        "cardId": "={{ $json.cardId }}",
        "checklistId": "={{ $json.checklistId }}",
        "checklistItemId": "={{ $json.checklistItemId }}",
        "updateFields": "={{ $json.checklistItemUpdateFields }}"
      },
      "id": "wekan-update-check-item-node",
      "name": "Update Checklist Item",
      "type": "n8n-nodes-base.wekan",
      "typeVersion": 1,
      "position": [
        6220,
        -320
      ],
      "credentials": {
        "wekanApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Wekan"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const state = $('Resolve Wekan Context').first().json;\nreturn [{ json: { result: 'The action ' + state.actionKey + ' is not supported by the Wekan helper yet.', confirmationRequired: false } }];"
      },
      "id": "wekan-unsupported",
      "name": "Unsupported Action Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6460,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const state = $('Resolve Wekan Context').first().json;\nconst output = $input.first().json || {};\nconst messages = {\n  create_board: 'Created the wedding board.',\n  create_list: 'Created the requested list.',\n  create_card: 'Created the requested card.',\n  update_card: state.targetListId ? 'Updated the card and moved it if requested.' : 'Updated the requested card.',\n  add_comment: 'Added the comment to the card.',\n  create_checklist: 'Created the checklist on the card.',\n  update_checklist_item: 'Updated the checklist item.',\n};\nreturn [{ json: { result: messages[state.actionKey] || 'Wekan updated successfully.', data: output } }];"
      },
      "id": "wekan-format-mutation",
      "name": "Format Mutation Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6460,
        -320
      ]
    }
  ]
}
