kubernetes/apps/selfhosted/openclaw/app/workflows/memory-search.json
{
  "id": "openclaw-memory-search",
  "name": "🧠 Memory Search",
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Search Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Memory": {
      "main": [
        [
          {
            "node": "Format Memory Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "memory-search-start",
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT content, category, importance, metadata, created_at FROM memory_long WHERE content ILIKE '%{{ (($json.search_query || $json.query || '').replace(/'/g, \"''\")) }}%' AND (expires_at IS NULL OR expires_at > now()) ORDER BY importance DESC, created_at DESC LIMIT 5",
        "options": {
          "queryBatching": "independently"
        }
      },
      "id": "memory-search-db",
      "name": "Search Memory",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        224,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Openclaw Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(item => item.json); if (!rows.length) return [{ json: { result: 'No memory matches found.' } }]; const lines = rows.map((row, index) => `${index + 1}. [${row.category}] ${row.content}`); return [{ json: { result: lines.join('\\n') } }];"
      },
      "id": "memory-search-format",
      "name": "Format Memory Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ]
    }
  ]
}
