kubernetes/apps/selfhosted/openclaw/app/workflows/reminder-factory.json
{
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "name": "⏰ ReminderFactory",
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "BuildWF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BuildWF": {
      "main": [
        [
          {
            "node": "CreateWF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreateWF": {
      "main": [
        [
          {
            "node": "ActivateWF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "42377cce-a5b6-416d-8ad9-28b881df1721"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nlet time = '';\nlet message = 'Reminder!';\nlet chatId = raw.chatId || raw.telegram_chat_id || raw.chat_id || '';\ntry {\n  const parsed = JSON.parse(raw.query || '{}');\n  time = parsed.time || raw.time || '';\n  message = parsed.message || raw.message || 'Reminder!';\n  chatId = parsed.chatId || parsed.chat_id || chatId;\n} catch (error) {\n  time = raw.time || '';\n  message = raw.message || 'Reminder!';\n}\nconst date = new Date(time);\nif (Number.isNaN(date.getTime())) {\n  return [{ json: { error: 'Invalid ISO timestamp supplied for the reminder.' } }];\n}\nconst hour = date.getHours();\nconst minute = date.getMinutes();\nconst apiKey = process.env.N8N_API_KEY || '';\nconst wf = {\n  name: 'Reminder ' + message.substring(0, 30),\n  nodes: [\n    {\n      parameters: { rule: { interval: [{ triggerAtHour: hour, triggerAtMinute: minute }] } },\n      name: 'Timer', type: 'n8n-nodes-base.scheduleTrigger', typeVersion: 1.2, position: [0, 0]\n    },\n    {\n      parameters: { chatId: String(chatId), text: '⏰ ' + message, additionalFields: {} },\n      name: 'Notify', type: 'n8n-nodes-base.telegram', typeVersion: 1.2, position: [220, 0],\n      credentials: { telegramApi: { id: 'REPLACE_WITH_YOUR_CREDENTIAL_ID', name: 'Telegram Bot' } }\n    },\n    {\n      parameters: {\n        method: 'POST',\n        url: '={{$env.N8N_INTERNAL_URL}}/api/v1/workflows/{{$workflow.id}}/deactivate',\n        sendHeaders: true,\n        headerParameters: { parameters: [{ name: 'X-N8N-API-KEY', value: '={{$env.N8N_API_KEY}}' }] },\n        options: {}\n      },\n      name: 'Cleanup', type: 'n8n-nodes-base.httpRequest', typeVersion: 4.2, position: [440, 0]\n    }\n  ],\n  connections: {\n    Timer: { main: [[{ node: 'Notify', type: 'main', index: 0 }]] },\n    Notify: { main: [[{ node: 'Cleanup', type: 'main', index: 0 }]] }\n  },\n  settings: { executionOrder: 'v1' }\n};\nreturn [{ json: { body: wf, hour, minute, msg: message, chatId: String(chatId), apiKeyLength: apiKey.length } }];"
      },
      "name": "BuildWF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "4dfc0b5e-be14-403b-bec6-ddbc695f0a6c"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.N8N_INTERNAL_URL}}/api/v1/workflows",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{$env.N8N_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "name": "CreateWF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        0
      ],
      "id": "5b70e030-bc73-4373-8b24-32359aebe657"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.N8N_INTERNAL_URL}}/api/v1/workflows/{{ $json.id }}/activate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{$env.N8N_API_KEY}}"
            }
          ]
        },
        "options": {}
      },
      "name": "ActivateWF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        0
      ],
      "id": "65890105-eb7e-4e3d-b7a9-f8d67787faef"
    }
  ],
  "id": "openclaw-reminder-factory"
}
