kubernetes/apps/selfhosted/openclaw/app/workflows/telegram-router.json
{
  "id": "openclaw-telegram-router",
  "name": "📨 Telegram Router",
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Filter Core Messages",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter Wedding Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Core Messages": {
      "main": [
        [
          {
            "node": "Run Core Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Wedding Messages": {
      "main": [
        [
          {
            "node": "Run Wedding Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "router-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "webhookId": "openclaw-telegram-router",
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first(); const chatId = String(item.json.message?.chat?.id || ''); if (chatId === String(process.env.TELEGRAM_WEDDING_GROUP_ID || '')) return []; return [item];"
      },
      "id": "filter-core",
      "name": "Filter Core Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -96
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "openclaw-core-agent",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "run-core-agent",
      "name": "Run Core Agent",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        480,
        -96
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first(); const chatId = String(item.json.message?.chat?.id || ''); if (chatId !== String(process.env.TELEGRAM_WEDDING_GROUP_ID || '')) return []; return [item];"
      },
      "id": "filter-wedding",
      "name": "Filter Wedding Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        96
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "openclaw-wedding-agent",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "run-wedding-agent",
      "name": "Run Wedding Agent",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        480,
        96
      ]
    }
  ]
}
