kubernetes/apps/selfhosted/openclaw/app/workflows/workflow-builder.json
{
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "name": "⚙️ WorkflowBuilder",
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "BuildPrompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BuildPrompt": {
      "main": [
        [
          {
            "node": "Claude Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Code": {
      "main": [
        [
          {
            "node": "FormatOutput",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "wfb-start"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nlet task = '';\ntry {\n  const parsed = JSON.parse(raw.query || '{}');\n  task = parsed.task || parsed.description || parsed.prompt || raw.query || '';\n} catch (error) {\n  task = raw.task || raw.query || JSON.stringify(raw);\n}\nconst prompt = `You are an n8n workflow engineer. Build a complete working workflow for this task:\\n\\n${task}\\n\\nReference file: /home/node/.n8n/openclaw-reference/workflow-builder.md\\n\\nRules:\\n- Use the local n8n public API with curl only when required.\\n- For local self-inspection, prefer {{ $env.N8N_INTERNAL_URL }}.\\n- n8n expressions must start with =, for example ={{ $json.field }}\\n- Return concise implementation notes after you create or update the workflow.`;\nreturn [{ json: { prompt, task } }];"
      },
      "name": "BuildPrompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "wfb-prompt"
    },
    {
      "parameters": {
        "command": "={{ `claude --print --model anthropic/claude-sonnet-4.6 ${JSON.stringify($json.prompt)}` }}"
      },
      "name": "Claude Code",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        448,
        0
      ],
      "id": "wfb-claude"
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\nconst output = result.stdout || result.data || result.output || result.result || JSON.stringify(result);\nreturn [{ json: {\n  response: output || 'Claude Code completed but returned no text output.',\n  exitCode: result.exitCode ?? null,\n  stderr: result.stderr || null\n} }];"
      },
      "name": "FormatOutput",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        0
      ],
      "id": "wfb-output"
    }
  ],
  "id": "openclaw-workflow-builder"
}
